@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat/montserratbold.woff2") format("woff2"), url("../fonts/Montserrat/montserratbold.woff") format("woff"), url("../fonts/Montserrat/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato/latomedium.woff2") format("woff2"), url("../fonts/Lato/latomedium.woff") format("woff"), url("../fonts/Lato/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto/Robotomedium.woff2") format("woff2"), url("../fonts/Roboto/Robotomedium.woff") format("woff"), url("../fonts/Roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: space-between; }

.icon {
  width: 15px;
  height: 15px; }

button:active {
  transform: scale(0.97); }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.svg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 100%; }

.scroll {
  position: relative;
  overflow: auto;
  max-height: 60vh; }
  .scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }
  .scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5; }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #4DD599;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }

.force-overflow {
  min-height: 200px;
  position: absolute;
  right: 0; }

@keyframes jelly {
  from {
    transform: scale(1, 1); }
  30% {
    transform: scale(1.25, 0.75); }
  40% {
    transform: scale(0.75, 1.25); }
  50% {
    transform: scale(1.15, 0.85); }
  65% {
    transform: scale(0.95, 1.05); }
  75% {
    transform: scale(1.05, 0.95); }
  to {
    transform: scale(1, 1); } }

@keyframes opacityy {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.primary-button {
  background-color: #4DD599;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.1s linear; }
  .primary-button:hover {
    background-color: #2ec180; }

.secondary-button {
  background-color: #E5E5E5;
  border: none;
  border-radius: 4px;
  color: #767676;
  font-size: 14px;
  letter-spacing: 0.15px;
  cursor: pointer;
  transition: 0.1s linear; }
  .secondary-button:hover {
    background-color: #cccccc; }

.left {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #E5E5E5;
  padding-left: 20px;
  padding-top: 58px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif; }
  .left__header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 160px;
    height: 37px; }
    .left__header:hover {
      background-color: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      transition: 0.1s linear; }
    .left__header-text {
      font-size: 14px;
      letter-spacing: 0.2px; }
    .left__header-icon {
      margin-right: 8px;
      margin-left: 10px; }
  .left__folder {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-family: inherit;
    width: 230px;
    min-height: 38px;
    padding-right: 5px;
    border-radius: 4px;
    transition: opacity 0.5s linear; }
    .left__folder:hover, .left__folder-active {
      background-color: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      transition: 0.1s linear; }
    .left__folder:hover .left__folder-transform {
      visibility: visible;
      opacity: 1; }
    .left__folder:hover .left__folder-text {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 58%; }
    .left__folder-overlay {
      position: absolute;
      width: 100%;
      height: 100%; }
    .left__folder-circle {
      display: block;
      width: 15px;
      height: 15px;
      padding-right: 15px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 10px;
      margin-left: 12px; }
    .left__folder-text {
      font-size: 14px;
      letter-spacing: 0.15px;
      text-overflow: ellipsis;
      word-break: break-all; }
    .left__folder-transform {
      visibility: hidden;
      opacity: 0;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 5px;
      width: 55px;
      height: 28px;
      min-width: 20px;
      transition: all 0.3s; }
    .left__folder-delete, .left__folder-edit {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      width: 26px;
      cursor: pointer; }
      .left__folder-delete:hover .right__task-edit-icon-box, .left__folder-edit:hover .right__task-edit-icon-box {
        background-color: #dddddd; }
      .left__folder-delete:hover .right__task-delete-icon-box, .left__folder-edit:hover .right__task-delete-icon-box {
        background-color: #dddddd; }
      .left__folder-delete-svg path, .left__folder-edit-svg path {
        position: absolute;
        z-index: -1; }
      .left__folder-delete-icon, .left__folder-edit-icon {
        fill: #666666;
        position: absolute;
        width: 14px;
        height: 14px; }
        .left__folder-delete-icon-box, .left__folder-edit-icon-box {
          position: absolute;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #E5E5E5;
          border: 1px solid #DC143C;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          transition: all 0.1s; }
        .left__folder-delete-icon:active + .right__task-delete-svg, .left__folder-edit-icon:active + .right__task-delete-svg {
          stroke-dasharray: 163;
          stroke-dashoffset: 0; }
      .left__folder-delete-svg, .left__folder-edit-svg {
        z-index: 2;
        stroke: #DC143C;
        stroke-width: 4;
        fill: transparent;
        position: absolute;
        stroke-dasharray: 163;
        stroke-dashoffset: 163;
        transition: stroke-dashoffset 0.5s linear; }
        .left__folder-delete-svg:active, .left__folder-edit-svg:active {
          stroke-dasharray: 163;
          stroke-dashoffset: 0; }
    .left__folder-edit-svg {
      stroke: #4DD599; }
    .left__folder-edit-icon {
      fill: #999999; }
      .left__folder-edit-icon-box {
        border: 1px solid #4DD599; }
    .left__folder-form {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 2px;
      opacity: 0;
      transition: 0.5s all; }
      .left__folder-form-active {
        opacity: 1; }
      .left__folder-form-input {
        width: 70%;
        height: 32px;
        border-radius: 3px;
        padding-left: 5px;
        font-family: inherit;
        font-size: 14px;
        border: 1px solid #E5E5E5; }
      .left__folder-form-save {
        width: 32px;
        height: 32px;
        margin: 0 3px; }
      .left__folder-form-cancel {
        width: 32px;
        height: 32px;
        background-color: #cccccc; }
  .left__create-button {
    display: flex;
    position: relative;
    align-items: center;
    width: 170px;
    height: 37px;
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.1s linear; }
    .left__create-button:hover {
      background-color: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      transition: 0.1s linear; }
  .left__create-icon {
    margin-left: 10px;
    margin-right: 10px; }
  .left__create-text {
    font-size: 14px;
    color: #767676;
    letter-spacing: 0.15px; }
  .left__creating {
    position: absolute;
    width: 235px;
    height: 148px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-family: "Lato", sans-serif;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    opacity: 0;
    z-index: -1; }
    .left__creating-active {
      opacity: 1 !important;
      z-index: 1 !important; }
    .left__creating-box {
      position: relative;
      width: 85%;
      margin: auto;
      padding-top: 18px; }
    .left__creating-input {
      width: 100%;
      height: 32px;
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      padding-left: 11px; }
      .left__creating-input::placeholder {
        color: #767676;
        font-size: 14px;
        letter-spacing: 0.15px; }
      .left__creating-input:focus + .left__creating-after {
        width: 100%; }
      .left__creating-input:focus {
        border-bottom: none;
        border-bottom-radius: 0; }
    .left__creating-after {
      position: absolute;
      height: 2px;
      width: 0;
      margin-top: -2px;
      z-index: 5;
      background-color: #4DD599;
      transition: width 0.3s linear; }
    .left__creating-colors {
      display: flex;
      justify-content: space-around;
      margin-top: 13px; }
    .left__creating-radio {
      position: relative;
      top: 1px;
      width: 20px;
      height: 20px;
      opacity: 0.4;
      border: 1px solid #E5E5E5;
      border-radius: 100%;
      vertical-align: middle;
      cursor: pointer;
      background-color: #4DD599;
      transition: all 0.5s; }
    .left__creating-color {
      display: none; }
      .left__creating-color:checked + .left__creating-radio {
        opacity: 1;
        animation: jelly 0.5s ease forwards; }
    .left__creating-button {
      width: 100%;
      height: 37px;
      margin-top: 17px; }
    .left__creating-close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #999999;
      border-radius: 10px;
      top: -10px;
      right: -10px;
      cursor: pointer; }
      .left__creating-close::before, .left__creating-close::after {
        position: absolute;
        content: '';
        display: block;
        height: 2px;
        width: 12px;
        background-color: black; }
      .left__creating-close::before {
        transform: rotate(45deg); }
      .left__creating-close::after {
        transform: rotate(-45deg); }

.right {
  height: 100vh;
  width: 100%;
  margin-left: 270px;
  padding-left: 55px; }
  .right__header {
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    padding-top: 56px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5; }
    .right__header-text {
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      margin-right: 14px;
      margin-bottom: 20px; }
    .right__header-icon {
      margin-top: -17px; }
  .right__tasks {
    font-family: "Lato", sans-serif;
    width: 80%;
    margin-top: 20px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px; }
  .right__task {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 40px;
    border-radius: 5px;
    padding: 5px 0;
    padding-left: 15px;
    transition: opacity 0.5s linear; }
    .right__task-last {
      opacity: 1 !important;
      transition: 0.5s all; }
    .right__task:hover {
      background-color: #f2f2f2; }
    .right__task:hover .right__task-transform {
      visibility: visible;
      opacity: 1; }
    .right__task-label {
      display: flex;
      position: relative;
      align-items: center;
      cursor: pointer;
      max-width: 80%; }
      .right__task-label input:checked + .right__task-checkbox {
        border-color: #4DD599; }
        .right__task-label input:checked + .right__task-checkbox svg path {
          fill: #4DD599; }
        .right__task-label input:checked + .right__task-checkbox svg polyline {
          stroke-dashoffset: 0; }
      .right__task-label:hover .right__task-checkbox svg path {
        stroke-dashoffset: 0; }
    .right__task-checkbox {
      position: relative;
      top: 2px;
      float: left;
      margin: 0 10px 5px 0;
      padding-right: 16px;
      width: 20px;
      height: 20px;
      border: 2px solid #E5E5E5;
      border-radius: 3px; }
      .right__task-checkbox svg {
        position: absolute;
        top: -2px;
        left: -2px; }
        .right__task-checkbox svg path {
          fill: none;
          stroke: #4DD599;
          stroke-width: 2;
          stroke-dasharray: 71px;
          stroke-dashoffset: 71px;
          transition: 0.3s linear; }
        .right__task-checkbox svg polyline {
          fill: none;
          stroke: #FFF;
          stroke-width: 2;
          stroke-dasharray: 18px;
          stroke-dashoffset: 18px;
          transition: 0.3s linear; }
    .right__task-hidden-input {
      display: none; }
    .right__task-text {
      display: inline;
      font-size: 16px;
      line-height: 16px;
      word-break: break-all; }
    .right__task-transform {
      visibility: hidden;
      opacity: 0;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 18px;
      width: 60px;
      margin-right: 20px;
      height: 28px;
      min-width: 20px;
      transition: all 0.3s; }
    .right__task-delete, .right__task-edit {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      width: 26px;
      cursor: pointer; }
      .right__task-delete:hover .right__task-edit-icon-box, .right__task-edit:hover .right__task-edit-icon-box {
        background-color: #dddddd; }
      .right__task-delete:hover .right__task-delete-icon-box, .right__task-edit:hover .right__task-delete-icon-box {
        background-color: #dddddd; }
      .right__task-delete-icon, .right__task-edit-icon {
        fill: #666666;
        position: absolute;
        width: 14px;
        height: 14px; }
        .right__task-delete-icon-box, .right__task-edit-icon-box {
          position: absolute;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #E5E5E5;
          border: 1px solid #DC143C;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          transition: all 0.1s; }
        .right__task-delete-icon:active + .right__task-delete-svg, .right__task-edit-icon:active + .right__task-delete-svg {
          stroke-dasharray: 163;
          stroke-dashoffset: 0; }
      .right__task-delete-svg, .right__task-edit-svg {
        z-index: 2;
        stroke: #DC143C;
        stroke-width: 4;
        fill: transparent;
        position: absolute;
        stroke-dasharray: 163;
        stroke-dashoffset: 163;
        transition: stroke-dashoffset 0.5s linear; }
        .right__task-delete-svg:active, .right__task-edit-svg:active {
          stroke-dasharray: 163;
          stroke-dashoffset: 0; }
    .right__task-edit-svg {
      stroke: #4DD599; }
    .right__task-edit-icon {
      fill: #999999; }
      .right__task-edit-icon-box {
        border: 1px solid #4DD599; }
    .right__task-form {
      display: flex;
      align-items: center;
      width: 100%;
      border: 1px solid #b2b2b2;
      min-height: 36px;
      padding: 0 5px;
      border-radius: 4px;
      background-color: #fff;
      opacity: 0;
      transition: 0.5s all; }
      .right__task-form-active {
        opacity: 1; }
      .right__task-form-input {
        width: 100%;
        min-height: 30px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 16px;
        font-family: inherit;
        border: 1px solid #E5E5E5;
        border-radius: 4px; }
      .right__task-form-save {
        height: 30px;
        padding: 0 10px;
        margin: 0 5px; }
      .right__task-form-cancel {
        height: 30px;
        padding: 0 10px; }
  .right__create {
    font-family: "Lato", sans-serif;
    width: 415px;
    height: 148px;
    margin-bottom: 20px; }
    .right__create-form {
      position: relative;
      margin-top: 20px;
      transition: 0.1s all;
      opacity: 0;
      z-index: -1; }
      .right__create-form-active {
        opacity: 1;
        z-index: 1; }
    .right__create-button {
      position: relative;
      display: flex;
      align-items: center;
      height: 40px;
      width: 200px;
      margin-top: 20px;
      border-radius: 5px;
      transition: 0.1s linear; }
      .right__create-button:hover {
        background-color: #f2f2f2; }
    .right__create-icon {
      margin-left: 15px;
      margin-right: 10px; }
    .right__create-text {
      color: #767676;
      font-size: 16px;
      letter-spacing: 0.15px;
      line-height: 16px; }
    .right__create-input {
      width: 100%;
      height: 38px;
      padding-left: 14px;
      border: 1px solid #E5E5E5;
      border-radius: 4px; }
      .right__create-input::placeholder {
        color: #767676;
        font-size: 14px;
        letter-spacing: 0.15px; }
      .right__create-input:focus + .right__create-after {
        width: 100%; }
      .right__create-input:focus {
        border-bottom: none;
        border-bottom-radius: 0; }
    .right__create-after {
      position: absolute;
      height: 2px;
      width: 0;
      z-index: 5;
      background-color: #4DD599;
      transition: width 0.3s linear; }
    .right__create-buttons {
      display: flex;
      justify-content: space-between;
      width: 250px;
      margin-top: 16px; }
    .right__create-add {
      width: 145px;
      height: 34px; }
    .right__create-cancel {
      width: 90px;
      height: 34px; }
